= index_headline_for ::Template do
  .btn-toolbar
    = create_button_link_for ::Template, namespace: :admin

- if @templates.any? 
  = render 'table'
- else
  .well.text-center
    %h4= translate('views.hints.empty', model: (@template_class.present? ? @template_class : ::Template).model_name.human(count: 2))