.page-header.gtg-admin-page-header-with-toolbar
  %h1= Page.model_name.human(count: 2)

.gtg-admin-toolbar
  #toolbar.container
    .btn-toolbar.pull-left
      .btn-group
        = create_button_link_for Page, caption: translate('helpers.links.new', model: Page.model_name.human), url: :new_admin_page
      .btn-group.batch-control
        = button_tag prepend_icon(:trash, translate('helpers.links.destroy_selected'), outline: true), class: 'btn btn-danger', data: { confirm: translate('helpers.confirmations.destroy_selected', model: Image.model_name.human(count: 2)) }        
      
.row
  .col-lg-3.col-md-3
    #sitemap{data: { url: tree_admin_pages_path(format: :json) }}

  .col-lg-9.col-md-9
    #page_content{data: { spy: 'affix', offset_top: 121 }}
      /- else
      /  .well.text-center
      /    %h4= translate('views.hints.empty', model: Page.model_name.human(count: 2))