- begin
  = render "admin/pages/#{@page.embeddable_class.model_name.element.pluralize}/details", page: @page, embeddable: @page.embeddable
- rescue ActionView::MissingTemplate
  = render 'page_details', page: @page
