= render 'translation_tabs', object: fields.object, url: translation_fields_admin_pages_path(embeddable_type: fields.object.class.name)

= loader class: 'loader-large'

.tab-content#translations
  = fields.simple_fields_for :translations do |translation_fields|
    = render 'admin/galleries/translation_fields', fields: translation_fields