- displayed_breadcrumbs = breadcrumbs.reject { |b| b.first? || b.last? }
- if displayed_breadcrumbs.any?
  %ul.breadcrumb
    - displayed_breadcrumbs.each do |breadcrumb|
      %li= link_to_if breadcrumb.destination.present?, breadcrumb.caption, breadcrumb.destination
