.info-bar
  %ul.list-info-bar
    %li.author
      = image.author.info
    %li.release-date
      = prepend_icon :clock, image.taken_at, outline: true, fixed_width: true

- if image.description.present?
  .lightbox-caption
    .lightbox-description
      = image.description
