- if next_locale
  / Locale
  %ul.nav.navbar-nav.navbar-right#nav_locale
    %li
      = link_to change_locale_path(next_locale), hreflang: next_locale do
        = prepend_icon :globe, next_locale.to_s.upcase, fixed_width: true
