- present image_download, with: Admin::Image::DownloadPresenter do |image_download|
  = content_tag_for :tr, image_download do
    - if local_assigns.fetch(:checkboxes, true)
      %td.checkbox-cell
        = check_box_tag 'image_download_ids[]', image_download.id, false, class: 'table-checkbox', id: nil, data: { behavior: 'tableCheckbox' }
    %td
      = link_to image_download.title, image_download.show_path
    %td.actions
      = image_download.action_buttons remote: true, icon_only: true
