%fieldset
  %legend= Page::ContactForm.human_attribute_name :recipients
  .content
    %ul.list-horizontal.list-wide
      - contact_form.recipients.order(:first_name, :last_name).each do |recipient|
        - present [:admin, recipient] do |recipient|
          %li.user
            .avatar
              = recipient.thumbnail(true, size: 28)
            .name
              = recipient.name(true)
