%fieldset
  %legend= Page::ContactForm.human_attribute_name :recipients
  .content
    %ul.ul-horizontal.ul-horizontal-wide
      - contact_form.recipients.order(:first_name, :last_name).each do |recipient|
        %li.user
          .avatar
            = link_to gravatar_image_tag(recipient.email, default: :mm, class: 'img-circle', size: 28, alt: recipient.name), [:admin, recipient]
          .name
            = link_to recipient.name, [:admin, recipient]
