.page-header
  %h1= image.title

= link_to page_path(page, format: image_page.image.format) do
  = image_tag image_page.image.asset(:transformed), class: 'img-responsive img-rounded'

%br
= raw image.description