body {
  text-align: center;
  font-family: arial, sans-serif;
}

.dialog {
  width: 33em;
  border: 1px solid #CCC;
  background-color: white;
  margin: 0 auto;
  margin-top: 4em;
  padding: 5px 15px;
  background-color: #F7F7F7;
}

h1 {
  font-size: 100%;
  color: #c00;
  line-height: 1.5em;
}

body > p {
  width: 33em;
  margin: 0 auto;
  padding: 15px;
  color: #666;
  border: 1px solid #CCC;
  border-top: 0;
}