= render 'translation_tabs', object: fields.object, url: translation_fields_admin_contents_path

.tab-content#translations
  = fields.simple_fields_for :translations do |translation_fields|
    = render 'translation_fields', fields: translation_fields