- output = nil

- simple_form_for [:admin, @page], url: '' do |form|
  - form.simple_fields_for :embeddable do |embeddable_fields|
    - embeddable_fields.simple_fields_for :translations, child_index: microtimestamp do |translation_fields|
      - output = render 'admin/contents/translation_fields', fields: translation_fields

= output