.checkbox-container,
.radio-container {
  display: inline-block;
  *display: inline;
  vertical-align: middle;
  margin: 0;
  padding: 0;
  width: 18px;
  height: 18px;
  line-height: normal;
  position: relative;

  @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));

  .check-indicator,
  .check-indeterminate-indicator,
  .radio-indicator {
    color: #333;
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    @include user-select(none);
    pointer-events: none;
    i.fa {
      line-height: normal;
    }
  }

  &.hover, &.focus {
    background-color: #ebebeb;
    border-color: #adadad;
  }
}

.checkbox-container {
  .check-indicator .fa {
    position: absolute;
    top: 1px;
    left: 1px;
  }
  .check-indeterminate-indicator {
    color: #999;
  }

  &.checked {
    .check-indicator {
      display: block;
    }
  }

  &.indeterminate {
    .check-indeterminate-indicator {
      display: block;
    }
  }
}

.radio-container {
  border-radius: 10px;

  .radio-indicator {
    font-size: 9px;
    top: 2px;
    left: 0px;
  }

  &.checked {
    .radio-indicator {
      display: block;
    }    
  }
}

.js {
  label {
    &.checkbox, &.radio {
      position: relative;
      cursor: pointer;
      padding-left: 27px;
      .checkbox-container, .radio-container {
        position: absolute;
        left: 0;
      }
      &:active {
        .checkbox-container, .radio-container {
          background-image: none;
          background-color: #ebebeb;
          border-color: #adadad;
          outline: 0;
          @include box-shadow(inset 0 3px 5px rgba(0, 0, 0, 0.125));
        }
      }
    }
  }
}