@import url("//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css");

.append-icon {
  .caption + i {
    margin-left: 6px;
  }
}

.prepend-icon {
  i.fa + .caption {
    margin-left: 6px;
  }
}

.append-icon, .prepend-icon {
  .caption {
    vertical-align: bottom;
  }
}

.btn-xs {
  .append-icon {
    .caption + i.fa {
      margin-left: 3px;
    }
  }

  .prepend-icon {
    i.fa + .caption {
      margin-left: 3px;
    }
  }
}

.btn-lg {
  .append-icon {
    .caption + i.fa {
      margin-left: 6px;
    }
  }

  .prepend-icon {
    i.fa + .caption {
      margin-left: 6px;
    }
  }
}

/*.dropdown-menu .fa {
  width: 16px;
  margin-right: 2px;
  text-align: center;
}*/

// Flags

.prepend-flag-icon, .append-flag-icon {
  .flag-icon {
    margin-top: -2px;   
  }
}

.prepend-flag-icon {
  .flag-icon + .caption {
    margin-left: 5px;
  }  
}