.jqtree-tree {
  $toggler-offset: 5px;
  $toggler-width: 20px;
  $element-spacing: 5px;

  list-style: none outside;
  margin: 0;
  padding: 0;

  ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }

  li {
    &.jqtree-closed > ul.jqtree_common {
      display: none;
    }

    &.jqtree-selected {
      > .jqtree-element {
        @extend .active;
      }
    }

    &.jqtree-ghost {
      height: 31px;
      border-style: dashed;
      margin-bottom: $element-spacing;
      @include border-radius($border-radius-base);
      border: 1px dashed $btn-default-border;
      cursor: move;
    }

    &.jqtree-folder {
      .jqtree-toggler {
        display: inline-block;
        width: $toggler-width;
        margin-left: $toggler-offset;
        text-align: center;
      }
      .jqtree-element {
        padding-left: 0;
      }
    }

    &.page-draft > .jqtree-element .jqtree-title {
      @extend .text-muted;
    }

    &:not(.jqtree-folder) {
      .jqtree-element {
        padding-left: $toggler-width + $toggler-offset;
      }
    }

    .jqtree-element {
      @extend .btn;
      @extend .btn-default;
      @extend .btn-block;

      text-align: left;
      margin-bottom: $element-spacing;
      position: relative;
      outline: none !important;

      .jqtree-border {
        background-color: blue;
        height: 30px;
        display: block
      }

      .jqtree-handle {
        float: right;
        top: 0;
        bottom: 0;
        right: 0;
        padding: 6px 15px;
        cursor: move;
        color: $gray-light;
        position: absolute;
        i {
          pointer-events: none;
        }
      }

      .jqtree-title {
        display: inline-block;
        margin-right: 42px; // handle width
        white-space: normal;
      }

      .jqtree-toggler {
        cursor: pointer;
      }
    }
  } 
}

.jqtree-dragging {
  cursor: move;
  position: fixed !important;
  z-index: 9000 !important;
  white-space: nowrap;
  @include border-radius($border-radius-base);
  padding: 4px 10px;
  opacity: 0.6;
  background-color: $text-color;
  color: $body-bg;
}