.jqtree-tree {
  $toggler-width: 20px;

  list-style: none outside;
  margin: 0;
  padding: 0;

  ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }

  li {
    &.jqtree-closed > ul.jqtree_common {
      display: none;
    }

    &.jqtree-ghost {
      height: 31px;
      border: 1px dashed lighten($gray-light, 25%);
      margin-bottom: 5px;
      @include border-radius(4px);
    }

    &.jqtree-folder {
      .jqtree-toggler {
        display: inline-block;
        width: $toggler-width;
        text-align: center;
      }
      .jqtree-element {
        padding-left: 0;
      }
    }

    &:not(.jqtree-folder) {
      .jqtree-element {
        padding-left: $toggler-width;
      }
    }

    .jqtree-element {
      border: 1px solid lighten($gray-light, 25%);
      padding: 5px 12px;
      margin-bottom: 5px;
      @include border-radius(4px);

      .jqtree-title {
        cursor: move;
      }
      
      .jqtree-toggler {
        cursor: pointer;
      }
    }
  } 
}