@import 'mixins';

// Carets

.caret-down {
  @include caret-down;
}

.caret-right {
  @include caret-right;
}

.caret-left {
  @include caret-left;
}

.caret-up {
  @include caret-up;
}


// Unselectable

.unselectable {
  user-select: none;
}

// Invisible and Uninteractive

.ghost {
  opacity: 0 !important;
  pointer-events: none !important;
}
