body {
  padding-top: 70px;
  padding-bottom: 50px;
}

.content + .content {
  margin-top: 20px;
}

// Carets

.caret-down {
  @extend .caret;
}

.caret-right {
  @include caret-right;
}

.caret-left {
  @include caret-left;
}

.caret-up {
  @include caret-up;
}

// Font Styles
.monospace {
  font-family: $font-family-monospace;
}

// Unselectable

.unselectable {
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  /* Rules below not implemented in browsers yet */
  -o-user-select: none;
  user-select: none;
}
