// Retina

@mixin retina-background-image($image-url) {
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2),
  only screen and (   min--moz-device-pixel-ratio: 2),
  only screen and (     -o-min-device-pixel-ratio: 2/1),
  only screen and (        min-device-pixel-ratio: 2),
  only screen and (                min-resolution: 192dpi),
  only screen and (                min-resolution: 2dppx) { 
    background-image: asset-url($image-url);
  }
}

// Carets

@mixin caret-down($size: 4px) {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: $size solid;
  border-bottom: 0;
  border-right: $size solid transparent;
  border-left: $size solid transparent;
}

@mixin caret-up($size: 4px) {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 0;
  border-bottom: $size solid;
  border-right: $size solid transparent;
  border-left: $size solid transparent; 
}

@mixin caret-right($size: 4px) {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: 0;
  border-left: $size solid;
}

@mixin caret-left($size: 4px) {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: $size solid;
  border-left: 0;
}