.table {
  .checkbox-cell {
    width: 30px;
    text-align: center;
  }
  .thumbnail-cell {
    width: 92px;
  }
  .actions {
    .btn-toolbar {
      float: right;
      text-align: left;
    }
  }
}