%fieldset
  %legend= Page::Image.model_name.human
  .fields
    = fields.input :image_id, required: true, as: :image_select

    - Page::Image.available_shop_providers.each do |shop_provider|
      = fields.input :"#{shop_provider}_url"