#editor_toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: white;
  z-index: 2000;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  background-color: #f5f5f5;
  padding: 6px 0;
}
