%hr

= fields.input :external, collection: [[Page::Redirection.human_attribute_name(:internal), false], [Page::Redirection.human_attribute_name(:external), true]], as: :radio_buttons, required: true, label: Page::Redirection.human_attribute_name(:type), wrapper: :horizontal_radio_and_checkboxes
= fields.association :destination_page, as: :page_select, required: true
= fields.input :destination_url, required: true
= fields.input :permanent, wrapper: :horizontal_boolean