- if breadcrumbs.any?
  %ul.breadcrumb
    - breadcrumbs.each do |breadcrumb|
      - if breadcrumb.last?
        %li.active
          = breadcrumb.caption
      - else
        %li
          = link_to breadcrumb.caption, breadcrumb.destination
          %span.divider /