- if @image_pages.any?

  #gallery.clearfix{data: { total_pages: @image_pages.total_pages }}
    - @image_pages.each do |image_page|
      .gallery-item
        = link_to image_page, class: 'gallery-link', data: { open: 'lightbox' } do
          %figure.gallery-image-container
            = image_tag attached_asset_path(image_page.embeddable.image, :brick), class: 'gallery-image img-responsive', alt: image_page.title
            %figcaption.gallery-image-caption
              %h3.sr-only= image_page.title

  = paginate @image_pages

- else
  .page-body
    .text-center
      In dieser Kategorie wurden keine Bilder gefunden.
