- if @image_pages.any?

  #gallery.clearfix{data: { total_pages: @image_pages.total_pages }}
    - @image_pages.each do |page|
      - present page.embeddable do |image_page|
        .gallery-item
          = link_to page, class: 'gallery-link' do
            %figure.gallery-image-container
              .gallery-image-wrapper
                = image_tag attached_asset_path(image_page.image, :brick), class: 'gallery-image img-responsive', alt: page.title
              %figcaption.gallery-image-caption-wrapper
                .gallery-image-caption-container
                  .gallery-image-caption
                    %h3.gallery-image-title= page.title

  = paginate @image_pages, theme: :gallery

- else
  .page-body
    .text-center
      In dieser Kategorie wurden keine Bilder gefunden.
