:coffee
  Editor.Controls.Save.url = '#{update_multiple_admin_page_regions_path(@page)}'
  Editor.Controls.PageSettings.url = '#{edit_admin_page_path(@page)}'

%iframe{src: page_path(@page), seamless: true, width: '100%', height: 400}