//@import "//fonts.googleapis.com/css?family=Karla:400,700,400italic,700italic";
@import url(http://fonts.googleapis.com/css?family=Bitter:400,700,400italic|Oswald:400,300,700);

body {
  font-family: 'Bitter', sans-serif !important;
}

h1, h2, h3, h4, h5 {
  //font-family: 'Karla', sans-serif !important;
  font-family: 'Oswald', sans-serif !important;
  text-transform: uppercase;
  font-weight: 700;
}

h6 {
  font-family: 'Bitter', sans-serif !important;
  font-weight: bold !important;
  font-size: 14px !important;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif !important;
  font-weight: 700;
}

/*.navbar a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
}*/

/*.navbar-brand {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 20px !important;
}

.navbar li {
  a {
    font-size: 16px;
    line-height: 18px;
    font-weight: 300;
    font-style: italic;
    .badge {
      font-style: normal;
    }

  }
  &.active a {
    font-weight: 700;
  }
}*/

.page-header {
  margin-top: 0 !important;
  color: #428bca;
  //border-bottom-width: 4px !important;
  h1 {
    text-transform: uppercase;
  }
}

.navbar-brand {
  text-transform: uppercase;
  font-weight: 700 !important;
}

strong, b {
  font-weight: 700;
}