@import '_bootstrap_config';
@import 'compass';

.img-editable {
  background-color: white;
  background-image: asset-url('admin/transparent.png');
}

.img-editable-sm {
  background-size: 10px;
}

.image, .project {
  @include clearfix;

  .preview {
    $size: 45px;
    margin-right: 8px;
    float: left;
    width: $size;
    img {
      width: $size;
      height: $size;
    }
  }
  .title {
    margin-top: 2px;
  }
  .detail {
    color: $gray-light;
    margin-bottom: 2px;
  }
}
