@import '_bootstrap_config';
@import 'compass';

.sitemap-item {
  display: block;
  width: 100%;
  text-align: left;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  vertical-align: middle;
  cursor: pointer;
  background-image: none; // Reset unusual Firefox-on-Android default style; see https://github.com/necolas/normalize.css/issues/214
  border: 1px solid transparent;
  white-space: nowrap;
  @include button-size($padding-base-vertical, $padding-base-horizontal, $font-size-base, $line-height-base, $border-radius-base);
  @include user-select(none);
  @include button-variant($btn-default-color, $btn-default-bg, $btn-default-border);

  &.active, &:active, &:focus {
    @include box-shadow(inset 0 3px 5px rgba(0,0,0,.125));
  }
}

.jqtree-tree {
  $toggler-offset: 5px;
  $toggler-width: 20px;
  $element-spacing: 5px;

  list-style: none outside;
  margin: 0;
  padding: 0;

  ul {
    list-style: none outside;
    margin: 0;
    padding: 0;
    padding-left: 20px;
  }

  li {
    &.jqtree-closed > ul.jqtree_common {
      display: none;
    }

    &.jqtree-selected {
      > .jqtree-element {
        @extend .active;
      }
    }

    &.jqtree-ghost {
      height: 31px;
      border-style: dashed;
      margin-bottom: $element-spacing;
      @include border-radius($border-radius-base);
      border: 1px dashed $btn-default-border;
      cursor: move;
    }

    &.jqtree-folder {
      .jqtree-toggler {
        display: inline-block;
        width: $toggler-width;
        margin-left: $toggler-offset;
        text-align: center;
      }
      .jqtree-element {
        padding-left: 0;
      }
    }

    &.page-draft > .jqtree-element .jqtree-title {
      color: $gray-light;
    }

    &:not(.jqtree-folder) {
      .jqtree-element {
        padding-left: $toggler-width + $toggler-offset;
      }
    }

    .jqtree-element {
      @extend .sitemap-item;

      margin-bottom: $element-spacing;
      position: relative;
      outline: none !important;

      .jqtree-border {
        background-color: blue;
        height: 30px;
        display: block;
      }

      .jqtree-handle {
        float: right;
        top: 0;
        bottom: 0;
        right: 0;
        padding: {
          top: 6px;
          bottom: 6px;
          right: 15px;
          left: 10px;
        }
        cursor: move;
        color: $gray-light;
        position: absolute;
        i {
          pointer-events: none;
        }
      }

      .jqtree-title {
        display: inline-block;
        margin-right: 42px; // handle width
        white-space: normal;
      }

      .jqtree-toggler {
        cursor: pointer;
        color: $gray-light;
        &:hover, &:focus {
          color: $gray;
        }
      }
    }
  } 
}

.jqtree-dragging {
  cursor: move;
  position: fixed !important;
  z-index: 9000 !important;
  white-space: nowrap;
  @include border-radius($border-radius-base);
  padding: 4px 10px;
  opacity: 0.6;
  background-color: $text-color;
  color: $body-bg;
}