@import '_bootstrap_config';

.list-horizontal {
  padding: 0;
  list-style-type: none;
  margin-left: $component-offset-horizontal;
}

.list-wide {
  li {
    margin-bottom: 5px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}