.loader {
  color: #999;

  &.loader-large {
    display: none;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    .caption {
      margin-left: 8px;
    }
  }

  &.loader-tabs {
    width: 16px;
    display: inline-block;
    padding: 0;
  }
}

.thumbnail {
  &.loader-small, &.loader-large {
    background: {
      repeat: no-repeat;
      position: center;
    }
  }
  &.loader-small {
    background-image: asset-url('admin/loader_small.gif');
  }
  &.loader-large {
    background-image: asset-url('admin/loader_large.gif');
  }
}