body.loading {
  /*$loader-cursor: wait;
  cursor: $loader-cursor !important;
  * {
    cursor: $loader-cursor !important;
  }*/
}

body.busy {
  cursor: wait;
}

.loader {

}

#loader_progress {
  display: none;  
}