#page_sitemap {
  @extend .well;

  border: 0;
  box-shadow: none;
  padding-right: 0;

  ul {
    list-style-type: none;
    margin: 0;
  }

  > ul {
    padding-left: 0;
    ul {
      padding-left: 15px;
    }
  }

  li {
    position: relative;

    > ul {
      display: none;
    }

    &.active {
      > .node > .node-caption {
        font-weight: bold;
      }

      /*&:after {
        @include caret-left(8px);
        content: '';
        position: absolute;
        right: 0;
        top: 1px;
        color: white;
      }*/
    }
    
    &.open {
      > ul {
        display: block;
      }
    }
  }

  .node-icon {
    display: inline-block;
    width: 16px;
    text-align: center;

    .caret, .caret-right {
      color: $gray-light;
      margin: 0;
    }
  }

  .toggle-children {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    width: 18px;
  }
}