@import '_bootstrap_config';

.page-info {
  .embeddable-type {
    color: $gray-light;
  }
  .page-path {
    .path-segment {
      color: $gray-light;
      a {
        color: $gray-light;
        &:hover, &:focus {
          color: darken($gray-light, 15%);
        }
      }
    }
  }
}