@import 'compass';

.panel-body {
  .dl-horizontal {
    margin-top: 0;
    margin-bottom: 0;
    + .dl-horizontal {
      margin-top: 20px;
    }
  }
}

.panel-invisible {
  border: 0;
  background-color: transparent;
  @include box-shadow(none);
  border-radius: none;
}

.panel-heading .dl-horizontal {
  margin: 0;
}

.panel-title {
  font-weight: 500;

  label.checkbox {
    padding: 0 !important;
    min-height: auto;
    input[type="checkbox"] {
      margin: {
        left: 0;
        top: 5px;
        right: 8px;
      }
    }
  }
}

.panel-table-container > .table {
  margin-bottom: 0;
}
