@import '_bootstrap_config';

#sitemap_toolbar {
  @media (min-width: $screen-md) {
    .container {
      $sitemap-width: round($container-md * 0.416666666667);
      margin-left: $sitemap-width;
      width: $container-md - $sitemap-width - $grid-gutter-width;
    }
  }

  @media (min-width: $screen-lg) {
    .container {
      $sitemap-width: round($container-lg * 0.333333333333);
      margin-left: $sitemap-width;
      width: $container-lg - $sitemap-width - $grid-gutter-width;
    }    
  }
}

#sitemap_container {
  @media (min-width: $screen-md) {
    width: round($container-md * 0.416666666667 - $grid-gutter-width);
  }

  @media (min-width: $screen-lg) {
    width: round($container-lg * 0.333333333333 - $grid-gutter-width);
  }

  position: fixed;
  bottom: 0;
  top: $navbar-height + 1px;
}

#sitemap {
  padding: {
    top: 20px;
    bottom: 20px;
    right: $grid-gutter-width;
  }

  .page-type-indicator {
    position: absolute;
    right: 42px;
    top: 6px;
    color: $gray-light;
  }
}

#page_content {
  &.affix {
    position: fixed;
    top: 148px;
    width: 780px;

    @media (min-width: $screen-md) {
      width: $container-md * 0.58333333333333336 - $grid-gutter-width;
    }

    @media (min-width: $screen-lg) {
      width: $container-lg * 0.6666666666666666 - $grid-gutter-width;
    }
  }
}