#sitemap_toolbar {
  @media (min-width: $screen-md) {
    .container {
      $sitemap-width: round($container-md * 0.416666666667);
      margin-left: $sitemap-width;
      width: $container-md - $sitemap-width - $grid-gutter-width;
    }
  }

  @media (min-width: $screen-lg) {
    .container {
      $sitemap-width: round($container-lg * 0.333333333333);
      margin-left: $sitemap-width;
      width: $container-lg - $sitemap-width - $grid-gutter-width;
    }    
  }
}

#sitemap_container {
  @media (min-width: $screen-md) {
    width: round($container-md * 0.416666666667 - $grid-gutter-width);
  }

  @media (min-width: $screen-lg) {
    width: round($container-lg * 0.333333333333 - $grid-gutter-width);
  }

  position: fixed;
  bottom: 0;
  top: $navbar-height + 1px;

  &:before {
    $shadow-height: 15px;
    position: absolute;
    top: 0;
    right: $grid-gutter-width;
    left: 0;
    //background-color: red;
    pointer-events: none;
    content: " ";
    z-index: 500;
    //bottom: -$shadow-height;
    height: $shadow-height;
    background: {
      image: asset-url('admin/shadow_bottom.png');
      repeat: no-repeat;
      size: 100% $shadow-height;
    }
  }

  &:after {
    $shadow-height: 15px;
    position: absolute;
    bottom: 0;
    right: $grid-gutter-width;
    left: 0;
    //background-color: red;
    pointer-events: none;
    content: " ";
    z-index: 500;
    //bottom: -$shadow-height;
    height: $shadow-height;
    background: {
      image: asset-url('admin/shadow_top.png');
      repeat: no-repeat;
      size: 100% $shadow-height;
    }
  }

}

#sitemap {
  padding: {
    top: $grid-gutter-width;
    bottom: $grid-gutter-width;
    right: $grid-gutter-width;
  }
}

#page_content {
  &.affix {
    position: fixed;
    top: 148px;
    width: 780px;

    @media (min-width: $screen-md) {
      width: $container-md * 0.58333333333333336 - $grid-gutter-width;
    }

    @media (min-width: $screen-lg) {
      width: $container-lg * 0.6666666666666666 - $grid-gutter-width;
    }
  }
}