table {
  .checkbox-cell {
    width: 30px;
  }

  &.table-indented {
    tr {
      &.level-0 td {
        background-color: #f9f9f9;
        &.level-indented {
          font-weight: bold;
        }
      }
      @for $i from 1 through 10 {
        &.level-#{$i} td.level-indented {
          padding-left: 8px + 14px * $i;
        }
      }
    }
  }
}