.table {
  .checkbox-cell {
    width: 30px;
    text-align: center;
  }
  .thumbnail-cell {
    width: 62px;
    text-align: center;

    &.thumbnail-cell--narrow {
      width: 48px;
    }
  }
  .actions {
    .btn-toolbar {
      float: right;
      text-align: left;
      margin-left: 0;
    }
  }
}
