.tabs-left .nav-tabs > li, .tabs-right .nav-tabs > li {
  float: none;
}

.tabs-left .nav-tabs > li > a, .tabs-right .nav-tabs > li > a {
  min-width: $border-radius-base;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left .nav-tabs,
.tabs-right .nav-tabs {
  border-bottom: 0;
  > li {
    &.divider {
      height: 12px;
    }
    &.nav-header {
      text-transform: uppercase;
      color: $gray-light;
      font-size: 0.8em;
      font-weight: 600;
      margin: 12px 18px;
    }
  }
}

.tabs-left .nav-tabs {
  background: {
    image: asset-url('admin/shadow_right.png');
    position: center right;
    size: 13px 100%;
    repeat: no-repeat;
  }
  margin-right: 0px;
  border-right: 1px solid $nav-tabs-border-color;

  > li > a {
    margin-right: -1px;
    @include border-radius($border-radius-base 0 0 $border-radius-base);
    &:hover, &:focus {
      border-color: $gray-lighter $nav-tabs-border-color $gray-lighter $gray-lighter;
    }
  }
  .active > a {
    border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
    *border-right-color: $body-bg;
    &:hover, &:focus {
      border-color: $nav-tabs-border-color transparent $nav-tabs-border-color $nav-tabs-border-color;
      *border-right-color: $body-bg;
    }
  }
}

.tabs-right .nav-tabs {
  background: {
    image: asset-url('admin/shadow_left.png');
    position: center left;
    size: 13px 100%;
    repeat: no-repeat;
  }
  margin-left: 0px;
  border-left: 1px solid $nav-tabs-border-color;
  > li > a {
    margin-left: -1px;
    @include border-radius(0 $border-radius-base $border-radius-base 0);
    &:hover, &:focus {
      border-color: $gray-lighter $gray-lighter $gray-lighter $nav-tabs-border-color;
    }
  }
  .active > a {
    border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
    *border-left-color: $body-bg;
    &:hover, &:focus {
      border-color: $nav-tabs-border-color $nav-tabs-border-color $nav-tabs-border-color transparent;
      *border-left-color: $body-bg;
    }
  }
}
