#translations_tabs {
  margin-bottom: 15px;

  .remove-translation {
    padding: 0px 3px;
    margin-left: 4px;
    vertical-align: baseline;
    line-height: 16px;
  }

  .unavailable {
    display: none;
  }
}