#translations_tabs {
  margin-bottom: 15px;
  /*background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  padding: {
    top: 7px;
    left: 10px;
    right: 10px;
  }*/

  .remove-translation {
    padding: 0px 3px;
    margin-left: 4px;
    vertical-align: baseline;
    line-height: 16px;
  }

  .unavailable {
    display: none;
  }
}