@import '../_bootstrap_config';

.image-combobox-result {
  .image-combobox-thumbnail {
    margin-right: 8px;
    img {
      $size: 40px;
      width: $size;
      height: $size;
    }
  }
  .image-combobox-info {
    color: $gray;
  }
}