.panel.panel-default
  .panel-heading
    %h3.panel-title
      Downloads
  .panel-body
    Noch nicht unterstützt.

  -# %table.table.table-hover
  -#   %thead
  -#     %tr
  -#       %th Titel
  -#   %tbody
  -#     - @images.each do |image|
  -#       %tr
  -#         %td= image.title
