/%li
/  = link_to_unless current_page.last?, translate('views.pagination.next').html_safe, url, rel: 'next', remote: remote

- if current_page.last?
  = button_link_to icon(:angle, direction: :right, fixed_width: true), '#', disabled: true
- else
  = button_link_to icon(:angle, direction: :right, fixed_width: true), url, rel: 'next', title: translate('views.pagination.next'), data: { toggle: 'tooltip', placement: 'bottom', container: '#toolbar' }