- content_for :additional_page_details do
  %dt= Page::ContactForm.human_attribute_name :recipients
  %dd= embeddable.recipients.order(:first_name, :last_name).collect { |recipient| link_to(recipient.name, [:admin, recipient]) }.join(', ').html_safe

= render 'page_details', page: page