%h1 Passwort auf GT Graphics geändert

%p Hallo #{@user.full_name},
%p dein Passwort auf GT Graphics wurde geändert:
%p
  %strong E-Mail-Adresse:
  %br
  = @user.email
%p
  %strong Passwort:
  %br
  = @password
  
%p 
  Viele Grüße
  %br
  Das GT Graphics Team