= fields.association :template, container_html: { class: 'col-lg-5' }, label_html: { class: 'col-lg-2' }
%hr
= fields.association :image, collection: Image.with_translations.order(Image::Translation.arel_table[:title]), container_html: { class: 'col-lg-5' }, label_html: { class: 'col-lg-2' }