%h1
  = content.title
  %small Showcase

- unless content.translated_locales.include?(I18n.locale)
  %p{style: 'border: 1px solid red; padding: 10px;'}
    Not translated to #{I18n.locale}

= content.body_html

- if page.children.projects.any?
  %ul
    - page.children.projects.each do |project_page|
      %li= link_to project_page, project_page