- content_for :pre_body_content do
  #background{class: page.root? ? 'homepage' : 'subpage'}
    = background_image_tag

- content_for :page_wrapper_content do
  #page_content
    = yield

= render template: 'layouts/page/default'
