- content_for :social_meta_tags do
  %meta{property: 'og:description', content: @page.meta_description || ''}
  %meta{property: 'og:image', content: asset_url('social_icon.png')}
  %meta{property: 'og:image:type', content: 'image/png'}
  %meta{property: 'og:image:width', content: 600}
  %meta{property: 'og:image:height', content: 600}

- content_for :body_content do
  - if content_for? :homepage_content
    = yield :homepage_content
  - else
    = yield

= render template: 'layouts/page/default'
