- content_for :social_meta_tags do
  = render 'image_head_tags'

- content_for :page_content do
  - if content_for? :image_content
    = yield :image_content
  - else
    = yield

= render template: 'layouts/page/application'
