= index_headline_for Shout do
  .btn-toolbar
    = create_button_link_for Shout, namespace: :admin

- if @shouts.any?
  = render 'table'
- else
  .well.text-center
    = translate('views.hints.empty', model: Shout.model_name.human(count: 2))