@import "shared";

body {
  margin: 0;
  padding: 0;
  padding: 6px 12px;
  color: $input-color;

  &[contenteditable="true"] {
    img {
      cursor: move;
      &:hover {
        opacity: 0.75;
      }
    }
    a[href] {
      cursor: default;
      img {
        border: 1px dashed $link-color;
      }
    }
  }
}