- embedded = true if embedded.nil?

= render 'translation_tabs', object: fields.object, url: embedded ? translation_fields_admin_pages_path(embeddable_type: fields.object.class.name) : translation_fields_admin_images_path

= loader class: 'loader-large'

.tab-content#translations
  = fields.simple_fields_for :translations do |translation_fields|
    = render 'admin/images/translation_fields', fields: translation_fields