.page-header.clearfix
  %h1.pull-left= Image.model_name.human(count: 2)
  .btn-toolbar.pull-right
    = create_button_link_for Image, namespace: :admin

- if @images.any?
  %table.table
    %thead
      %tr
        %th= Image.human_attribute_name(:title)
    %tbody
      - @images.each do |image|
        %tr
          %td= image.title

- else
  .well.text-center
    No images created