= index_headline_for Image do
  .btn-toolbar
    = create_button_link_for Image, namespace: :admin

- if @images.any?
  = render 'table'
- else
  .well.text-center
    = translate('views.hints.empty', model: Image.model_name.human(count: 2))