#cover_carousel.cover-carousel.js-only.hidden-xs{data: { ride: 'coverCarousel', interval: 12000 }}
  .cover-carousel-inner{role: 'listbox'}
    - @covers.each do |image, page|
      - if page
        = link_to page, class: 'item', data: { cover: attached_asset_path(image, :custom) } do
          %span.sr-only= image.title
      - else
        .item{data: { cover: attached_asset_path(image, :custom) }}
          %span.sr-only= image.title
