- images = Image.tagged('Layout').shuffle

#cover_carousel.cover-carousel.carousel.js-only{data: { ride: 'coverCarousel', interval: 7000 }}
  %ol.carousel-indicators
    - images.count.times do |index|
      %li{class: index.zero? ? 'active' : nil, data: { target: '#cover_carousel', slide_to: index }}
  .carousel-inner{role: 'listbox'}
    - images.each_with_index do |image, index|
      .item{class: index.zero? ? 'active' : nil, data: { cover: attached_asset_path(image, :custom) }}
        .carousel-caption
          %h3 Lorem Ipsum Dolor Sit Amet
          %p
            At vero eos et accusam et justo duo dolores et ea rebum.
            Stet clita kasd gubergren, no sea takimata sanctus est
            Lorem ipsum dolor sit amet.
