= fields.input :generate_password, as: :radio_buttons, collection: [[translate('helpers.boolean.yes'), true], [translate('helpers.boolean.no'), false]], label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
#password_fields
  = fields.input :password, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }  
  = fields.input :password_confirmation, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }