= fields.input :password, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }  
= fields.input :password_confirmation, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }