= fields.input :generate_password, as: :radio_buttons, wrapper: :horizontal_radio_and_checkboxes, collection: [[translate('helpers.boolean.yes'), true], [translate('helpers.boolean.no'), false]]
#password_fields
  = fields.input :password
  = fields.input :password_confirmation