- users ||= @users

%table.table.table-hover
  %thead
    %tr
      %th.thumbnail-cell
      %th= sort_link_for @users, :full_name
      %th.actions
  %tbody
    - users.each do |user|
      = render user