- users ||= @users

%table.table.table-hover
  %thead
    %tr
      %th.thumbnail-cell
      %th= sort_link @user_search, :first_name, User.human_attribute_name(:full_name)
      %th.actions
  %tbody
    - users.each do |user|
      = render user