.page-header
  %h1 Edit Password

= simple_form_for [:admin, @user], html: { class: 'form-horizontal', multipart: true } do |form|

  = form.input :current_password, label_html: { class: 'col-lg-2' }, container_html: { class: 'col-lg-8' }
  = render 'password_fields', fields: form