%h1 Passwort auf GTGRAPHICS geändert

%p Hallo #{@user.full_name},
%p
  dein Passwort auf
  = link_to 'GTGRAPHICS', :admin_root
  wurde geändert:

%p
  %strong E-Mail-Adresse:
  %br
  = @user.email
%p
  %strong Passwort:
  %br
  = @password

%p
  Viele Grüße
  %br
  Das GTGRAPHICS Team
