%h1 Zugang zu GT Graphics erstellt

%p Hallo #{@user.full_name},
%p
  es wurde ein Zugang für dich bei
  = link_to 'GT Graphics', :admin_root
  erstellt:

%p
  %strong E-Mail-Adresse:
  %br
  = @user.email
%p
  %strong Passwort:
  %br
  = @password
  
%p 
  Viele Grüße
  %br
  Das GT Graphics Team