- if breadcrumbs.reject(&:last?).many?
  %ul.breadcrumb
    - breadcrumbs.reject(&:last?).each do |breadcrumb|
      %li= link_to_if breadcrumb.destination.present?, breadcrumb.caption, breadcrumb.destination
