= index_headline_for MenuItem do
  .btn-toolbar
    = create_button_link_for MenuItem, namespace: :admin

- if @menu_items.any?
  = render 'table', checkboxes: true
- else
  .well.text-center
    %h4= translate('views.hints.empty', model: MenuItem.model_name.human(count: 2))