= button_link_to_unless current_page.last?, icon(:angle, direction: :right, fixed_width: true), url, id: 'next_page', rel: 'next', title: translate('views.pagination.next'), type: :page_foot, size: :lg, data: { toggle: 'tooltip', placement: 'top', container: 'body' }
