@import 'bootstrap_config';

.author-info {
  $author-info-height: 43px;

  @include clearfix;
  display: table;
  color: $gray-light;

  &:hover, &:focus, &:active {
    color: $gray-lighter;
  }

  .author-picture {
    display: table-cell;
    display: block;
    width: $author-info-height;
    height: $author-info-height;
    margin-right: 10px;
  }

  .author-name {
    display: table-cell;
    height: $author-info-height;
    vertical-align: middle;
  }
}
