@import 'bootstrap_config';

#back_to_top {
  transition: opacity 800ms ease-out, 
              color 400ms ease-out;
  opacity: 0;
  position: fixed;
  bottom: 40px;
  right: 40px;

  &.affix-top {
    opacity: 0;
    pointer-events: none;
  }

  &.affix {
    opacity: 1;
  }

  a {
    display: block;
    color: rgba($text-color, 0.3);
    text-shadow: 0 0 2px rgba(black, 0.5);
    &:hover {
     color: rgba($text-color, 0.8)
    }
  }
}