@import 'bootstrap_config';

html, body {
  min-height: 100%;
}

body {
  padding-top: 0px;
  padding-bottom: 80px;
}

#page_content_wrapper {
  background-color: $content-bg;
}

#page_content {
  &.out {
    transition: opacity 200ms ease-out;
    opacity: 0; 
  }
  
  opacity: 1;

  .page-body {
    // background-color: rgb(30, 30, 30);
    padding: $content-padding;
    @media (min-width: $screen-lg-min) {
      padding: $content-padding-lg;
    }
  }
}