@import 'bootstrap_config';

html, body {
  min-height: 100%;
}

body {
  padding-top: 0px;
  padding-bottom: 80px;
}

#page_content {
  background-color: $content-bg;
  padding: $content-padding;
  @media (min-width: $screen-lg-min) {
    padding: $content-padding-lg;
  }
}