@import 'bootstrap_config';

.breadcrumb {
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  padding: {
    top: $content-padding;
    left: $content-padding;
    right: $content-padding;
    bottom: 0;
  }

  @media (min-width: $screen-lg-min) {
    padding: {
      top: $content-padding-lg;
      left: $content-padding-lg;
      right: $content-padding-lg;
    }
  }

  a {
    color: $breadcrumb-active-color;
    text-decoration: none;
    &:hover {
      color: $headings-color;
    }
  }
}
