@import 'bootstrap_config';

.breadcrumb {
  padding: 0;
  margin: 0;
  font-size: 14px;
  text-transform: uppercase;
  a {
    color: $breadcrumb-active-color;
    &:hover {
      color: lighten($breadcrumb-active-color, 20%);
    }
  }
}