@import 'bootstrap_config';

#content_wrapper {
  position: relative;
  z-index: 2;
}

#page_wrapper {
  @media (min-width: $screen-sm-min) {
    box-shadow: 0 1px 3px rgba(black, 0.25);
  }
}

#page_content {
  background-color: $content-bg;

  margin-bottom: 10px;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 80px;
  }

  .page-body {
    padding: $content-padding;
    @media (min-width: $screen-md-min) {
      padding: $content-padding-lg;
    }
  }

  .page-header + .page-body {
    padding-top: 0;
  }

  .page-body + .page-body {
    padding-top: 0;
  }
}
