@import 'bootstrap_config';

// #page_wrapper {
//   border-radius: 3px;
//   overflow: hidden;
// }

#content_wrapper, #lightbox_content_wrapper {
  position: relative;
  z-index: 5; // leave some space below for lightbox for example
  // margin: 0 auto;
}

#page_wrapper, #lightbox_page_wrapper {
  width: 100%;
  margin-bottom: 10px;
}

#page_wrapper {
  border-radius: 3px;
  overflow: hidden;
  @media (min-width: $screen-sm-min) {
    margin-bottom: 0;
    box-shadow: 0 7px 15px rgba(black, 0.4);
  }
}

#page_content {
  background-color: $content-bg;
}

.page-body + .page-body,
.page-header + .page-body {
  padding-top: 0;

  &.well {
    padding-top: $content-padding-lg;
  }
}

.page-body {
  padding: $content-padding;
  margin: 0;

  @media (min-width: $screen-md-min) {
    padding: $content-padding-lg;
  }

  &.well {
    border: none;
    background-color: $content-bg-dark; // rgba(black, 0.15);
  }

  h3 {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid $gray-dark;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      position: relative;
      padding-left: 15px;

      &:before {
        position: absolute;
        left: 2px;
        content: "▪";
        color: $gray;
      }
    }
  }
}

.page-prominent-container {
  @media (min-width: $screen-md-min) {
    padding: 20px 0;
  }
}

#page_content {
  @media (min-width: $screen-sm-min) {
    min-height: 260px;
  }
}

#page_content, #lightbox_page_content {
  a, button, input[type="submit"], input[type="button"] {
    transition: all 100ms ease-out;
  }
}
