@import 'bootstrap_config';

#content_wrapper {
  position: relative;
  z-index: 5; // leave some space below for lightbox for example
}

#page_wrapper, #lightbox_page_wrapper {
  width: 100%;
  margin-bottom: 10px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 80px;
    box-shadow: 0 1px 3px rgba(black, 0.25);
  }
}

#page_content, #lightbox_page_wrapper {
  background-color: $content-bg;

  .page-body {
    padding: $content-padding;
    margin: 0;

    @media (min-width: $screen-md-min) {
      padding: $content-padding-lg;
    }

    &.well {
      border: none;
      background-color: rgba(black, 0.15);
    }
  }

  .page-body + .page-body,
  .page-header + .page-body {
    padding-top: 0;

    &.well {
      padding-top: $content-padding-lg;
    }
  }
}
