.cover-carousel {
  position: absolute;
  z-index: 1;

  .carousel-inner {
    > .item {
      .cover {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: {
          size: 100%;
          size: cover;
          position: center;
          repeat: no-repeat;
        }
      }

      &.active {
        .cover {
          opacity: 0;
          animation: cover-zoom 12s ease-in-out;
        }
      }

      // .carousel-caption {
      //   position: fixed;
      //   font-size: 24px;
      //   font-weight: 300;
      //   bottom: 82px;
      //   padding: 0;

      //   h3 {
      //     font-size: 32px;
      //     text-transform: uppercase;
      //     font-weight: 700;
      //   }
      // }
    }
  }

  .carousel-indicators {
    bottom: 50px;
  }
}

@keyframes cover-zoom {
  0% {
    opacity: 0;
    transform: scale(1.1) rotate(-1deg);
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: scale(1) rotate(0deg);
  }
}
