@import 'bootstrap_config';

.cover-carousel {
  position: absolute;
  z-index: 1;

  &:after {
    content: ' ';
    z-index: 3;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 20px rgba($content-bg, 0.5);
  }

  .cover-carousel-inner {
    position: absolute;
    overflow: hidden;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    > .item {
      .cover {
        position: absolute;
        opacity: 0;
        z-index: 2;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: {
          size: 100%;
          size: cover;
          position: center;
          repeat: no-repeat;
        }
      }

      &.prev .cover {
        opacity: 1;
      }

      &.next .cover {
        z-index: 3;
      }

      &.active.loaded .cover {
        opacity: 1;
        z-index: 3;
        animation: cover-zoom 12s ease-out;
      }
    }
  }

  .carousel-indicators {
    bottom: 50px;
  }
}

@keyframes cover-zoom {
  0% {
    opacity: 0;
    transform: scale(1.1) rotate(-1deg);
  }
  15% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
