.cover-carousel {
  position: absolute;
  z-index: 1;

  .item {
    &.loaded {
      .cover, .carousel-caption {
        opacity: 1;
      }
    }

    .cover, .carousel-caption {
      opacity: 0;
      transition: opacity 500ms ease-out;
    }

    .carousel-caption {
      position: fixed;
      font-size: 24px;
      font-weight: 300;
      bottom: 82px;
      padding: 0;

      h3 {
        font-size: 32px;
        text-transform: uppercase;
        font-weight: 700;
      }
    }

    .cover {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background: {
        size: 100%;
        size: cover;
        position: center;
        repeat: no-repeat;
      }
    }
  }

  .carousel-indicators {
    bottom: 50px;
  }
}
