@import 'bootstrap_config';

.dropdown-menu,
.navbar-nav > li > .dropdown-menu {
  border-radius: 3px;
  border: none;

  > li > a {
    padding: {
      top: 5px;
      bottom: 5px;
    }
  }
}

.dropdown-menu > li > a {
  font-weight: inherit;
}
