@import 'bootstrap_config';

.dropdown-menu,
.navbar-nav > li > .dropdown-menu {
  border-radius: 3px;
  border: none;

  > li > a {
    padding: {
      top: 5px;
      bottom: 5px;
    }
  }
}

.dropdown-menu {
  max-height: 400px;
  overflow: auto;

  > li {
    &.divider {
      background-color: $gray-dark;
    }

    > a {
      font-weight: inherit;
    }
  }
}
