@import 'bootstrap_config';

#errors {
  height: 100%;
  overflow: hidden;

  $black-hole-size: 800px;
  $black-hole-offset: -90px;

  #black_hole_container, #black_hole {
    width: $black-hole-size;
    height: $black-hole-size;
  }

  #black_hole_container {
    margin-left: -$black-hole-size / 2;
    left: 50%;
    top: $black-hole-offset - 95px;;

    @media (min-width: $screen-sm-min) {
      top: $black-hole-offset - 75px;
    }

    @media (min-width: $screen-md-min) {
      top: $black-hole-offset - 60px;
    }

    z-index: 1;
    position: absolute;
    overflow: hidden;
  }

  #black_hole {
    background: {
      image: asset-url('errors/black_hole.jpg');
      repeat: no-repeat;
      position: center;
      size: 100%;
    }
    animation: fa-spin 60s infinite linear;
  }

  #error_logo, #error_content {
    position: relative;
    z-index: 2;
  }

  #error_logo {
    margin-bottom: 255px;
    margin-top: 20px;
  }

  .error-code {
    font-size: 18px;
    font-weight: 300;
    color: $gray;
    margin-bottom: 5px;
  }
}
