@import 'bootstrap_config';

.navbar-footer {
  color: #666;
  font-size: 12px;
  border-top: none;
  margin: 0;
  border: none;
  padding: {
    left: $content-padding;
    right: $content-padding;
  }
  margin: 8px 0;

  @media (min-width: $screen-md-min) {
    padding: {
      left: $content-padding-lg;
      right: $content-padding-lg;
    }
  }

  .navbar-text:first-child {
    padding-left: 0;
  }

  .navbar-text, .navbar-nav > li > a {
    margin: 0;
    padding: 14px;
    line-height: 14px;
    color: rgba($text-color, 0.4);
    text-shadow: 0 0 4px rgba(black, 0.7);
  }

  .navbar-nav > li > a {
    outline: none;
    transition: all 200ms ease-in-out;

    &:hover, &:focus {
      color: $text-color;
      background: none;
    }

    &.icon-link {
      padding: {
        left: 9px;
        right: 9px;
      }
    }
  }

  .site-social-buttons + .author-social-buttons,
  .author-social-buttons + .author-social-buttons {
    margin-left: 10px;
  }

  .site-social-buttons {
    padding: {
      top: 11px;
      bottom: 11px;
    }
    line-height: auto;
  }

  .homepages-show.template-default & {
    margin: 0;

    @media (min-width: $screen-sm-min) {
      position: fixed;
      bottom: 8px;
      width: $container-sm - $grid-gutter-width;
    }

    @media (min-width: $screen-md-min) {
      width: $container-md - $grid-gutter-width;
    }

    @media (min-width: $screen-lg-min) {
      width: $container-lg - $grid-gutter-width;
    }
  }
}
