.no-js .fullscreen-carousel {
  display: none;
}

.fullscreen-carousel {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  .carousel-indicators {
    bottom: 70px;
  }
}