@import 'bootstrap_config';

$gallery-item-gutter-xs: 10px;
$gallery-item-gutter-sm: $gallery-item-gutter-xs;
$gallery-item-gutter-md: 20px;
$gallery-item-gutter-lg: $gallery-item-gutter-md;

@mixin gallery-item-width($container-width, $item-gutter, $columns-count) {
  width: floor(($container-width - $grid-gutter-width - $item-gutter) / $columns-count) - 1px;
}

#gallery {
  @include clearfix;

  margin: 0 ($gallery-item-gutter-xs / 2);
  padding: ($gallery-item-gutter-xs / 2) 0;
  box-sizing: content-box;

  @media (min-width: $screen-sm-min) {
    margin: 0 ($gallery-item-gutter-sm / 2);
    padding: ($gallery-item-gutter-sm / 2) 0;
  }

  @media (min-width: $screen-md-min) {
    margin: 0 ($gallery-item-gutter-md / 2);
    padding: ($gallery-item-gutter-md / 2) 0;
  }

  @media (min-width: $screen-lg-min) {
    margin: 0 ($gallery-item-gutter-lg / 2);
    padding: ($gallery-item-gutter-lg / 2) 0;
  }

  .gallery-grid-sizer, .gallery-item {
    width: 100%;

    @media (min-width: $screen-sm-min) {
      @include gallery-item-width($container-sm, $gallery-item-gutter-sm, 2);
    }

    @media (min-width: $screen-md-min) {
      @include gallery-item-width($container-md, $gallery-item-gutter-md, 3);
    }

    @media (min-width: $screen-lg-min) {
      @include gallery-item-width($container-lg, $gallery-item-gutter-lg, 3);
    }
  }

  .gallery-item {
    padding: $gallery-item-gutter-xs / 2;

    @media (min-width: $screen-sm-min) {
      padding: $gallery-item-gutter-sm / 2;

      .no-js & {
        width: calc(100% / 2);
        float: left;
      }
    }

    @media (min-width: $screen-md-min) {
      padding: $gallery-item-gutter-md / 2;

      .no-js & {
        width: calc(100% / 3);
      }
    }

    @media (min-width: $screen-lg-min) {
      padding: $gallery-item-gutter-lg / 2;
    }
  }

  .gallery-image-container {
    // fix that prevents displaying borders on the edges while transforming
    margin: -1px;
  }

  .gallery-link {
    outline: none;
    display: block;
    overflow: hidden;
    position: relative;
    transition: all 200ms ease-out;

    // meant to fix scaling artifacts occuring in WebKit
    backface-visibility: hidden;

    // meant to improve blurry WebKit rendering
    perspective: 1000;
    transform: translate3d(0,0,0);

    .gallery-image {
      display: block; // needed as FF renders bullshit
      transition: all 3s ease-in-out;
      min-width: 100%;
    }

    .gallery-image-caption-wrapper {
      position: absolute;
      top: -1px;
      bottom: -1px;
      left: -1px;
      right: -1px;
      opacity: 0;
      transition: opacity 200ms ease-out;
      background-color: rgba(black, 0.6);

      .gallery-image-caption-container {
        display: table;
        width: 100%;
        height: 100%;
        min-height: 100%;

        .gallery-image-caption {
          display: table-cell;
          vertical-align: middle;
          padding: 30px;
          text-align: center;
          text-shadow: 0 1px 2px rgba(black, 0.7);

          .gallery-image-title {
            padding: 0;
            margin: 0;
            font-size: 18px;
            text-transform: uppercase;
            color: white;
          }
        }
      }
    }

    &:hover, &:focus {
      transform: scale(0.97);
      outline: none;

      .gallery-image-caption-wrapper {
        opacity: 1;
      }

      .gallery-image {
        transform: scale(1.1);
      }
    }
  }
}

.masonry,
.masonry .masonry-brick {
  transition-duration: 200ms;
}

.masonry {
  transition-property: height, width;
  .masonry-brick {
    transition-property: left, right, top;
  }
}
