@import 'bootstrap_config';

$gallery-item-gutter-xs: 10px;
$gallery-item-gutter-sm: $gallery-item-gutter-xs;
$gallery-item-gutter-md: 20px;
$gallery-item-gutter-lg: $gallery-item-gutter-md;

@mixin gallery-item-width($container-width, $item-gutter, $columns-count) {
  width: floor(($container-width - $grid-gutter-width - $item-gutter) / $columns-count) - 1px;
}

#gallery {
  box-sizing: content-box;
  margin: -($gallery-item-gutter-xs / 2) $gallery-item-gutter-xs / 2;
  @media (min-width: $screen-sm-min) {
    margin: -($gallery-item-gutter-sm / 2) $gallery-item-gutter-sm / 2;
    padding-bottom: $gallery-item-gutter-sm / 2;
  }
  @media (min-width: $screen-md-min) {
    margin: -($gallery-item-gutter-md / 2) $gallery-item-gutter-md / 2;
    padding-bottom: $gallery-item-gutter-md / 2;
  }
  @media (min-width: $screen-lg-min) {
    margin: -($gallery-item-gutter-lg / 2) $gallery-item-gutter-lg / 2;
    padding-bottom: $gallery-item-gutter-lg / 2;
  }

  .gallery-grid-sizer, .gallery-item {
    width: 100%;

    // $container-tablet:             ((720px + $grid-gutter-width));
    // $container-desktop:            ((940px + $grid-gutter-width));
    // $container-large-desktop:      ((1140px + $grid-gutter-width));


    @media (min-width: $screen-sm-min) {
      @include gallery-item-width($container-sm, $gallery-item-gutter-sm, 2);
    }

    @media (min-width: $screen-md-min) {
      // (970 - 30 - 10) / 2 = 465
      // 306
      width: 306px;
      @include gallery-item-width($container-md, $gallery-item-gutter-md, 3);
    }

    @media (min-width: $screen-lg-min) {
      @include gallery-item-width($container-lg, $gallery-item-gutter-lg, 3);
    }
  }

  .gallery-item {
    padding: $gallery-item-gutter-xs / 2;
    @media (min-width: $screen-sm-min) { padding: $gallery-item-gutter-sm / 2; }
    @media (min-width: $screen-md-min) { padding: $gallery-item-gutter-md / 2; }
    @media (min-width: $screen-lg-min) { padding: $gallery-item-gutter-lg / 2; }
  }

  .gallery-link {
    outline: none;
    display: block;
    overflow: hidden;

    .gallery-image-title {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 15px;
      right: 15px;
      font-weight: 300;
      color: rgba($text-color, 0.8);
      opacity: 0;
      transition: all 400ms ease-out;
      text-align: center;
      font-size: 18px;
      text-shadow: 0 1px 4px rgba(black, 0.8);
      background: linear-gradient(to bottom, rgba(black, 0.5) 0%, rgba(black, 0) 20%);
    }

    .gallery-image {
      display: block; // needed as FF renders bullshit
      transition: all 800ms ease-out;
      min-width: 100%;
    }

    &:hover, &:focus {
      .gallery-image-title {
        opacity: 1;
      }
      .gallery-image {
        transform: scale(1.1);
      }
    }
  }
}

.masonry,
.masonry .masonry-brick {
  transition-duration: 400ms;
}

.masonry {
  transition-property: height, width;
}

.masonry .masonry-brick {
  transition-property: left, right, top;
}