@import 'bootstrap_config';

.page-header {
  margin: 0;
  border-bottom: 0;

  padding: $content-padding;
  @media (min-width: $screen-md-min) {
    padding: $content-padding-lg;
  }

  h1 {
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    font-weight: 300;
  }
}

.breadcrumb + .page-header {
  padding-top: 5px;
}

.page-body {
  h1, .h1, h2, .h2 {
    text-transform: uppercase;
  }

  h1, .h1, h2, .h2, h3, .h3 {
    margin-top: 10px;
  }
}
