@import 'bootstrap_config';
@import 'compass';
@import 'shared/mixins';

$lightbox-navbar-height: 60px;
$lightbox-control-size: 100px;

.navbar-lightbox {
  height: $lightbox-navbar-height;
  border: none;
  transition: all 200ms ease-out;
  background-color: $body-bg;

  @media (min-width: $screen-sm-min) {
    display: block;
  }

  @media (max-width: $screen-sm-max) {
    margin-bottom: 0;
  }

  @media (min-width: $screen-md-min) {
    position: fixed;
    z-index: $zindex-navbar-fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
  }

  .navbar-brand {
    padding: 20px 38px;
    opacity: 0.5;
    outline: none;
    transition: opacity 200ms ease-in-out;
    z-index: $zindex-navbar-fixed + 2;

    &:hover, &:focus {
      opacity: 1;
      outline: none;
    }
  }

  .navbar-brand, #nav_lightbox_controls {
    position: relative;
    height: $lightbox-navbar-height;
  }

  #nav_lightbox_controls {
    z-index: $zindex-navbar-fixed + 1;
  }

  #nav_close {
    margin-left: 0;
  }

  .navbar-nav {
    &.navbar-right {
      margin-left: 15px;

      &:first-child {
        margin-right: -15px;
      }
    }

    > li {
      float: left;

      > a {
        outline: none;
        padding: {
          top: 20px;
          bottom: 20px;
        }
        color: white;
        opacity: 0.5;
        transition: color 200ms ease-in-out, text-shadow 200ms ease-in-out;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);

        &:hover, &:focus {
          outline: none;
          background: none;
          opacity: 1;
          color: white;
        }
      }

      &.open > a {
        outline: none;
        color: $text-color;
        background: none;
      }
    }
  }

  #nav_lightbox_controls {
    opacity: 1;
  }

  &.unobstrusive {
    @media (min-width: $screen-sm-min) {
      &:before, #nav_lightbox_controls {
        transition: all 1s ease-in;
        opacity: 0;
      }

      .navbar-brand {
        transition: all 1s ease-in;
        opacity: 0.2;
      }
    }
  }

  #lightbox_close {
    text-decoration: none;
    top: 0;
    right: 0;
    left: auto;
    margin: 0;
    width: $lightbox-control-size;
    height: 60px;
    z-index: $zindex-navbar-fixed + 1;
    font-size: 45px;
    line-height: 58px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

#nav_lightbox_actions {
  margin-right: 0;
}

#nav_lightbox_xs {
  background-color: $body-bg;
  width: 100%;
  position: fixed;
  z-index: $zindex-navbar-fixed;

  .navbar {
    border-bottom: 1px solid $gray-dark;
  }
}

#lightbox {
  user-select: none;
  z-index: 1;
  position: absolute;
  top: $navbar-height-xs;
  bottom: 0;
  left: 0;
  right: 0;

  @media (min-width: $screen-sm-min) {
    top: 0;
  }

  @media (min-width: $screen-md-min) {
    position: fixed;
  }

  .lightbox-image-container, .lightbox-image, .lightbox-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .lightbox-background, .lightbox-image {
    transition: opacity 200ms ease-out;
    background: {
      repeat: no-repeat;
      position: center;
    }
  }

  .lightbox-background {
    background-size: cover;
    opacity: 0.3;
    @include blur(20);
  }

  .lightbox-image {
    background-size: contain;

    img {
      // width: 100%;
      // height: auto;
      user-select: none;
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }
  }

  .lightbox-controls {
    opacity: 1;
    z-index: 4;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: opacity 200ms ease-out;

    .lightbox-control {
      // top: -$navbar-height-xs / 2;
      top: 0;
      bottom: 0;

      @media (min-width: $screen-sm-min) {
        top: 0;
      }

      @media (min-width: $screen-md-min) {
        top: $lightbox-control-size;
        bottom: $lightbox-control-size;
      }
    }
  }

  &.unobstrusive {
    .lightbox-controls {
      opacity: 0;
      transition: opacity 1s ease-in;
    }
  }
}

@media all and (-ms-high-contrast:none) {
  // Nasty IE hack to prevent IE 10 and 11 from displaying the blurry background
  // which does not work properly in those browsers
  #lightbox .lightbox-background {
    display: none;
  }
}

#lightbox_content_wrapper {
  position: absolute;
  top: 100%;
  left: $content-padding;
  right: $content-padding;

  @media (min-width: $screen-sm-min) {
    left: auto;
    right: auto;
    width: $container-sm - $grid-gutter-width;
  }

  @media (min-width: $screen-md-min) {
    width: $container-md - $grid-gutter-width;
  }

  @media (min-width: $screen-lg-min) {
    width: $container-lg - $grid-gutter-width;
  }
}

#lightbox_page_wrapper {
  position: absolute;
  border-top: 1px solid rgba(white, 0.04);
  margin: 0;
  top: 100%;

  @media (min-width: $screen-md-min) {
    margin-top: 0;
  }

  .lightbox-title {
    h1 {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 100%;

      @media (min-width: $screen-md-min) {
        float: left;
      }
    }

    .btn-toolbar {
      @media (min-width: $screen-md-min) {
        float: right;
      }
    }

    #social_buttons {
      margin-top: 20px;

      @media (min-width: $screen-md-min) {
        margin-top: 0;
        padding: 9px 0;
      }
    }
  }

  .lightbox-caption {
    font-size: 18px;
    font-weight: 300;
    word-wrap: break-word;

    + .lightbox-metadata {
      @media (max-width: $screen-sm-max) {
        margin-top: 15px;
      }
    }
  }

  .lightbox-author-name {
    display: block;
    color: $gray-light;
    margin-top: 8px;
    font-size: 16px;

    &:before {
      content: '\2014 \00A0';
    }

    a {
      color: $gray-light;
      &:hover, &:focus {
        color: darken($gray-light, 15%);
      }
    }
  }

  .lightbox-metadata {
    dl {
      margin: 0;
      @media (max-width: $screen-xs-max) {
        dd + dt {
          margin-top: 10px;
        }
      }
    }
  }
}

.lightbox-control {
  position: absolute;
}

.lightbox-control, #lightbox_close {
  color: white;
  opacity: 0.5;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: $lightbox-control-size;
  outline: none;
  transition: opacity 200ms ease-in-out;
  margin: 0;
  font-weight: 100;
  font-size: 25px;
  line-height: 32px;

  @media (min-width: $screen-sm-min) {
    font-size: 30px;
    line-height: 42px;
  }

  &:hover, &:focus {
    outline: none;
    opacity: 1;
    color: white;
  }

  .fa {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -15px;
    height: 30px;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}
