@import 'bootstrap_config';
@import 'compass';
@import 'shared/mixins';

$lightbox-nav-height: 65px;
$lightbox-control-size: 100px;

.navbar-lightbox {
  height: $lightbox-nav-height;
  border: none;
  padding-right: $lightbox-control-size;
  transition: all 200ms ease-out;
  z-index: 2;

  @media (min-width: $screen-md-min) {
    background: -moz-linear-gradient(top,  rgba($content-bg, 0.75) 0%, rgba($content-bg, 0) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba($content-bg, 0.75)), color-stop(100%,rgba($content-bg, 0))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba($content-bg, 0.75) 0%,rgba($content-bg, 0) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba($content-bg, 0.75) 0%,rgba($content-bg, 0) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba($content-bg, 0.75) 0%,rgba($content-bg, 0) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba($content-bg, 0.75) 0%,rgba($content-bg, 0) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */
    z-index: $zindex-navbar-fixed;
  }

  .container-fluid .navbar-brand {
    margin-left: 0;
  }

  .container .navbar-brand {
    margin-left: 15px;
  }

  .navbar-nav > li {
    > a {
      outline: none;
      padding: {
        top: 20px;
        bottom: 20px;
      }
      color: rgba($text-color, 0.5);
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
      transition: color 200ms ease-in-out, text-shadow 200ms ease-in-out;

      &:hover, &:focus {
        outline: none;
        background: none;
        color: $text-color;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      }
    }

    &.open > a {
      outline: none;
      color: $text-color;
      background-color: rgba(30, 30, 30, 0.95);
    }
  }

  &.idle {
    @media (min-width: $screen-md-min) {
      transition: all 1s ease-in;
      opacity: 0;
    }
  }
}

#lightbox_brand {
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 38px;

  z-index: 3;
  @media (min-width: $screen-md-min) {
    z-index: $zindex-navbar-fixed + 1;
  }

  opacity: 0.5;
  outline: none;
  transition: opacity 200ms ease-in-out;

  &:hover, &:focus {
    opacity: 1;
    outline: none;
  }
}

#lightbox {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  user-select: none;

  .lightbox-image-container, .lightbox-image, .lightbox-background, .lightbox-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .lightbox-background, .lightbox-image {
    transition: opacity 500ms ease-out;
    background: {
      repeat: no-repeat;
      position: center;
    }
  }

  .lightbox-background {
    background-size: cover;
    @include blur(20);
    opacity: 0.3;
  }

  .lightbox-image {
    background-size: contain;
  }

  .lightbox-controls {
    opacity: 1;
    transition: opacity 200ms ease-out;
    z-index: 4;

    .lightbox-control {
      top: $lightbox-control-size;
      bottom: $lightbox-control-size;
    }
  }

  &.idle {
    .lightbox-controls {
      opacity: 0;
      transition: opacity 1s ease-in;
      pointer-events: none;
    }
  }
}

#lightbox_page_wrapper {
  position: absolute;
  margin: {
    top: 0; // $grid-gutter-width;
    bottom: 0;
    left: 0;
    right: 0;
  }
  border-top: 1px solid rgba(white, 0.04);

  .lightbox-title h1 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 100%;
  }

  .lightbox-caption {
    font-size: 18px;
    font-weight: 300;
    word-wrap: break-word;
  }

  .lightbox-author-name {
    display: block;
    margin-top: 8px;
    font-size: 16px;
    margin-top: 8px;
    color: $gray-light;

    &:before {
      content: '\2014 \00A0';
    }

    a {
      color: $gray-light;
      &:hover, &:focus {
        color: darken($gray-light, 15%);
      }
    }
  }
}

.lightbox-control {
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  width: $lightbox-control-size;
  position: absolute;
  outline: none;
  opacity: 0.5;
  transition: opacity 200ms ease-in-out;
  margin: 0;
  font-size: 35px;
  font-weight: 100;

  &:hover, &:focus {
    outline: none;
    opacity: 1;
    color: white;
  }

  b {
    position: absolute;
    font-weight: 100;
    font-size: 70px;
    line-height: 52px;
    top: 50%;
    left: 0;
    right: 0;
    height: 60px;
    margin-top: -30px;
    text-align: center;

    &.close-icon {
      font-size: 60px;
      line-height: 53px;
    }
  }

  .fa {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-top: -25px;
    height: 30px;
  }

  &.left {
    left: 0;
  }

  &.right {
    right: 0;
  }
}

#lightbox_close {
  position: fixed;
  top: 0;
  right: 0;
  left: auto;
  margin: 0;
  width: $lightbox-control-size;
  height: 60px;
  z-index: $zindex-navbar-fixed + 1;
}
