@import 'bootstrap_config';

dl.dl-horizontal {
  dt {
    font-weight: 300;
    color: $gray-light;
    text-align: left;
  }

  dd + dt {
    margin-top: $content-padding;
    @media (min-width: $screen-sm-min) {
      margin-top: 0;
    }
  }
}
