@import 'bootstrap_config';

dl.dl-horizontal {
  dt {
    font-weight: 300;
    color: $gray-light;
    text-align: left;
  }

  dd + dt {
    margin-top: $content-padding;
    @media (min-width: $screen-sm-min) {
      margin-top: 0;
    }
  }
}

.list-multicol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  column-count: 2;

  @media (min-width: $screen-md-min) {
    column-count: 3;
  }
}
