@import 'bootstrap_config';

#loader {
  display: none;
  opacity: 0;
  pointer-events: none;
  padding: 12px;
  border-radius: 3px;
  z-index: 50000;
  position: fixed;
  background-color: rgba(black, 0.75);
  text-align: center;
  width: $loader-width;
  height: $loader-height;
  top: 50%;
  left: 50%;
  margin-left: round(-$loader-width / 2);
  margin-top: round(-$loader-height / 2);

  @media (max-width: $screen-xs-max) {
    margin-top: round(-$loader-height / 2 + $navbar-height-xs / 2);
  }

  .caption {
    margin-left: 6px;
    line-height: 22px;
    font: {
      size: 18px;
    }
  }
}

.homepages-show.template-default #loader {
  @media (min-width: $screen-sm-min) {
    $header-offset: 187px;
    $footer-offset: 50px;
    margin-top: round(-$loader-height / 2 + $header-offset / 2 - $footer-offset / 2);
  }
}

.loading {
  opacity: 0 !important;
  transition: opacity 500ms fade-out !important;
}
