@import 'bootstrap_config';

$loader-width: 130px;

#loader {
  display: none;
  opacity: 0;
  pointer-events: none;
  padding: 12px 18px;
  border-radius: 26px;
  z-index: 50000;
  position: fixed;
  background-color: rgba(black, 0.75);
  text-align: center;
  width: $loader-width;
  left: 50%;
  margin-left: -$loader-width / 2;
  bottom: 100px;

  //pointer-events: none;
  .caption {
    margin-left: 6px;
    line-height: 21px;
    font: {
      size: 18px;
      weight: 300;
    }
  }
}