@import 'bootstrap_config';

#brand {
  user-select: none;
  margin: auto;
  width: 215px;
  display: block;

  @media (max-width: $screen-xs-max) {
    position: absolute;
    left: 50%;
    margin-left: -108px;
    margin-top: 15px;
    z-index: 1000;
  }

  @media (min-width: $screen-sm-min) {
    margin: 25px $content-padding;
    width: 300px;
  }

  @media (min-width: $screen-md-min) {
    margin: 30px $content-padding-lg;
    width: 330px;
  }

  @media (min-width: $screen-lg-min) {
    margin: 35px $content-padding-lg;
    width: 350px;
  }
}

#logo {
  width: 100%;
}
