@import 'bootstrap_config';
@import 'compass';
@import 'shared/mixins';

.navbar {
  @media (min-width: $screen-sm-min) {
    .navbar-nav:not(.navbar-right):first-child {
      margin-left: -15px;
    }
  }

  .navbar-brand {
    margin-left: -15px;
  }

  &.navbar-top {
    margin-bottom: 0;
    border: none;
    border-radius: 0;

    .navbar-collapse {
      border-top: none;
    }

    &#navbar_primary {
      @media (min-width: $screen-sm-min) {
        background-color: $brand-primary; // rgba($brand-primary, 0.92);
      }

      .navbar-nav {
        > li {
          > a {
            outline: none;
            color: white;
            text-align: center;
            text-transform: uppercase;
            line-height: 23px;
            transition: all 200ms ease-in-out;

            @media (min-width: $screen-md-min) {
              padding-left: $content-padding-lg;
              padding-right: $content-padding-lg;
              line-height: 25px;
            }

            @media (min-width: $screen-lg-min) {
              padding-top: 15px;
              padding-bottom: 15px;
            }
          }

          &:not(.active) > a {
            &:hover, &:focus {
              color: $brand-primary;
              background-color: transparent;

              @media (min-width: $screen-sm-min) {
                background-color: white;
              }
            }
          }

          &.active > a {
            &, &:hover, &:focus {
              color: $brand-primary;
              background: none;

              @media (min-width: $screen-sm-min) {
                color: white;
                background-color: $content-bg;
              }
            }
          }

          &.dropdown.open > a {
            color: $brand-primary;
          }
        }

        ul.dropdown-menu {
          border: none;
          border-radius: 0;
          padding: 8px 0;

          > li > a {
            padding: {
              top: 5px;
              bottom: 5px;
            }
          }
        }
      }
    }

    &#navbar_secondary {
      display: none;
      @media (min-width: $screen-sm-min) {
        display: block;
      }

      background-color: darken($content-bg, 2%);

      .navbar-nav {
        margin-left: 0;
        margin-left: auto;
        margin-right: auto;
        display: block;
        > li {
          > a {
            padding-left: $content-padding;
            padding-right: $content-padding;
            @media (min-width: $screen-md-min) {
              padding-left: $content-padding-lg;
              padding-right: $content-padding-lg;
            }

            color: $gray;
          }
        }
      }
    }

    @media (max-width: $screen-xs-max) {
      min-height: 0;

      .navbar-header {
        padding: 15px 0;
      }
    }

    @media (min-width: $screen-sm-min) {
      .btn-header {
        display: none;
      }
    }
  }

  // Extra Small Navigation

  .navbar-header {
    width: 100%;
  }
}

#nav_menu_items > li > a {
  font-weight: 300;
  font-size: 18px;

  @media (min-width: $screen-sm-min) {
    font-size: 14px;
    line-height: 22px;
  }

  @media (min-width: $screen-md-min) {
    font-size: 16px;
  }

  @media (min-width: $screen-lg-min) {
    font-size: 18px;
  }
}

#nav_locale .caption {
  font-size: 12px;
  font-weight: normal;
}
