@import 'bootstrap_config';
@import 'compass';
@import 'shared/mixins';

#brand {
  margin-bottom: 25px;
  display: inline-block;
  width: 300px;
  
  @media (max-width: $screen-xs-max) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #logo {
    width: 100%;
  }
}

.navbar {
  @media (min-width: $screen-sm-min) {
    .navbar-nav:not(.navbar-right):first-child {
      margin-left: -15px;
    }
  }

  .navbar-toggle {
    line-height: 15px;
    float: left;
    margin-left: 15px;
    color: white;
    position: relative;
    z-index: 2000;
  }

  .navbar-brand {
    margin-left: -15px;
  }

  &.navbar-top {
    margin-bottom: 0;
    border: none;
    //background-color: rgba($brand-primary, 0.25);
    // margin-bottom: 5px;
    border-radius: 0;

    .navbar-nav {
      > li {
        > a {
          color: white;
          font-weight: bold;
          @media (min-width: $screen-lg-min) {
            padding-left: $content-padding-lg;
            padding-right: $content-padding-lg;
          }
          text-align: center;
          text-transform: uppercase;
          transition: all 200ms ease-in-out;
        }

        &.active > a {
          background-color: $content-bg;
          box-shadow: inset 0 6px 8px rgba(black, 0.3);
        }
      }

      @for $i from 1 through 6 {
        $alpha: (1 - ($i - 1) / 6) * 0.75;

        > li:nth-child(#{$i}):not(.active) {
          > a {
            background-color: rgba($link-color, $alpha);

            &:hover, &:focus {
              background-color: rgba($link-hover-color, $alpha);
            }

            &:active {
              background-color: rgba(darken($link-hover-color, 15%), $alpha);
            }
          }
        }
      }
    }
  }
}