@import 'bootstrap_config';
@import 'compass';
@import 'shared/mixins';

.navbar {
  @media (min-width: $screen-sm-min) {
    .navbar-nav:not(.navbar-right):first-child {
      margin-left: -15px;
    }
  }

  .navbar-toggle {
    line-height: 15px;
    float: left;
    margin-left: 15px;
    color: white;
    position: relative;
    z-index: 2000;
  }

  .navbar-brand {
    margin-left: -15px;
  }

  &.navbar-top {
    margin-bottom: 0;
    border: none;
    background-color: rgba($brand-primary, 0.25);
    // margin-bottom: 5px;
    border-radius: 0;

    .navbar-nav {
      @for $i from 1 through 6 {
        > li:nth-child(#{$i}) {
          > a {
            background-color: rgba($brand-primary, (1 - ($i - 1)/6) * 0.75);
            color: white;
            min-width: 120px;
            font-weight: bold;
          }
        }
      }
    }
  }

  &.navbar-footer {
    $vertical-padding: 12px;

    color: #666;
    background-color: rgba(40,40,40,.92);
    font-size: 12px;
    min-height: 40px;
    height: auto;
    border-top: none;
    box-shadow: 0 -1px 5px rgba(0, 0, 0, .5);

    .author-social-buttons + .author-social-buttons {
      margin-left: 10px;
    }

    .navbar-text, .navbar-nav > li > a {
      margin: 0;
      padding: $vertical-padding 14px;
      line-height: normal;
    }

    .navbar-nav {
      > li > a { 
        color: #666;
        &:hover, &:focus {
          color: lighten(#666, 25%);
          background-color: rgba(20,20,20,.8);
        }
        &.icon-link {
          padding: {
            left: 9px;
            right: 9px;
          }
        }
      }
    }

    .navbar-text {
      &.copyright {
        padding-left: 0;
      }
      &.social-buttons {
        padding-top: $vertical-padding - 2px;
        padding-bottom: $vertical-padding - 2px;
      }
    }
  }
}