@import 'bootstrap_config';

.project-thumbnail {
  margin-bottom: $content-padding;

  @media (min-width: $screen-md-min) {
    margin-bottom: $content-padding-lg;
  }

  @media (min-width: $screen-md-min) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  img {
    pointer-events: none;
    user-select: none;
  }

  .caption {
    margin-top: 5px;
    padding: 10px 0;
  }
}

.project-description {
  margin-bottom: 25px;

  @media (min-width: $screen-md-min) {
    margin-bottom: 0;
  }
}
