@import 'bootstrap_config';

.project-thumbnail {
  margin-bottom: $content-padding;

  @media (min-width: $screen-md-min) {
    margin-bottom: $content-padding-lg;
  }

  @media (min-width: $screen-md-min) {
    &:last-child {
      margin-bottom: 0;
    }
  }

  .caption {
    margin-top: 5px;
    padding: 10px 0;
  }
}

