@import 'bootstrap_config';

@media (min-width: $screen-sm-min) {
  .row:last-child .submenu-item {
    margin-bottom: 0;
  }
}

.submenu-item {
  display: block;
  margin-bottom: $grid-gutter-width;
  transition: all 200ms ease-out;
  backface-visibility: hidden;
  text-decoration: none;

  .submenu-item-title {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    background-color: rgba(black, 0.2);
    text-transform: uppercase;
    color: $text-color;
    text-decoration: none;
  }

  &:hover, &:focus {
    outline: none;
    transform: scale(1.03);
    text-decoration: none;

    .submenu-item-title {
      color: $text-color;
      background-color: rgba(black, 0.4);
      text-decoration: none;
    }
  }

  .submenu-item-image {
    width: 100%;
  }
}
