@import 'bootstrap_config';

@media (min-width: $screen-sm-min) {
  .row:last-child .submenu-item {
    margin-bottom: 0;
  }
}

.submenu-item {
  display: block;
  margin-bottom: $grid-gutter-width;
  transition: all 200ms ease-out;

  .submenu-item-title {
    font-size: 18px;
    font-weight: 300;
    padding: 10px;
    text-align: center;
    background-color: rgba(black, 0.2);
    text-transform: uppercase;
  }

  &:hover {
    transform: scale(1.03);
    .submenu-item-title {
      background-color: rgba(black, 0.4);
    }
  }

  .submenu-item-image {
    width: 100%;
  }
}
