@import 'bootstrap_config';

@media (min-width: $screen-sm-min) {
  .row:last-child {
    .submenu-item, .submenu-link {
      margin-bottom: 0;
    }
  }
}

.submenu-title {
  margin-bottom: $grid-gutter-width;
}

.submenu-link, .icon-menu-link {
  margin-bottom: $grid-gutter-width;
  outline: none;
  display: block;
  overflow: hidden;
  position: relative;
  transition: transform 200ms ease-out;

  // meant to fix scaling artifacts occuring in WebKit
  backface-visibility: hidden;

  // meant to improve blurry WebKit rendering
  perspective: 1000;
  transform: translate3d(0,0,0);

  .submenu-item-title {
    font-size: 18px;
    font-weight: 300;
    // font-weight: 700;
    padding: 10px;
    text-align: center;
    background-color: $content-bg-dark;
    text-transform: uppercase;
    color: $text-color;
    text-decoration: none;
  }

  .submenu-item-image {
    width: 100%;
  }

  &:hover, &:focus, &:active {
    text-decoration: none;
    outline: none;

    .submenu-item-title {
      color: $text-color;
      background-color: $content-bg-darker;
      text-decoration: none;
    }
  }

  &:hover, &:focus {
    transform: scale(0.97);
  }

  &:active {
    // opacity: 0.75;
    transform: scale(0.94);
  }
}

.icon-menu-link {
  background-color: rgba(black, 0.2);
  padding: 15px;
  text-align: center;

  img {
    margin: 0 auto;
  }

  &:hover, &:focus, &:active {
    background-color: rgba(black, 0.4);
  }
}
