- content_for :social_meta_tags do
  %meta{property: 'og:title', content: @image.title}
  %meta{property: 'og:image', content: @image.asset.url}

- content_for :page_content do
  = yield

= render template: 'layouts/pages'
