- content_for :social_meta_tags do
  %meta{property: 'og:title', content: image_page.image.title}
  %meta{property: 'og:description', content: image_page.image.description || ''}
  %meta{property: 'og:image', content: image_page.image.asset.url(:social)}
  %meta{property: 'og:image:width', content: 1500}
  %meta{property: 'og:image:height', content: 1500}

- content_for :page_content do
  = yield

= render template: 'layouts/pages'
