- content_for :head do
  %meta{name: 'description', content: @page.meta_description || ''}
  %meta{name: 'keywords', content: @page.meta_keywords || ''}

- content_for :content do
  - unless @page.published?
    %p
      %strong Warning: This Page has not been published yet.

  = yield

= render template: 'layouts/application'